{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <section>
        <div>
            {% if companies %}
                <table id="company" class="table table-striped">
                    <thead>
                    <tr>
                        <th class="text-left">Name</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for company in companies %}
                        <tr>
                            <td>{{ company.name }}</td>
                            <td>{{ company.address }}</td>
                            <td>{{ company.phone }}</td>
                            <td>
                                {#<a href="/company/{{ invoice.id }}" class="btn btn-dark btn-xs">Show</a>#}
                                <a href="/company/edit/{{ company.id }}" class="btn btn-light btn-xs">Edit</a>
                                <a href="#" class="btn btn-danger delete-invoice btn-xs" data-id="{{ company.id }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No invoices to display</p>
            {% endif %}
        </div>
    </section>


{% endblock %}

{% block javascripts %}
    <script src={{ asset("public/js/main.js") }}></script>
{% endblock %}




